body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #007BFF;
}

li span {
    font-weight: bold;
}

.icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}

.inventory-table th, .inventory-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.inventory-table th {
    background-color: #007BFF;
    color: #fff;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], input[type="file"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.inventory-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.inventory-table tbody tr:hover {
    background-color: #ddd;
}

.inventory-table img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 8px;
}

.edit-btn, .delete-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn {
    background-color: #dc3545;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #007BFF;
    font-size: 2em;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 150px;
}

.button:hover {
    background-color: #0056b3;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.info-container {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px;
}

.info-container p {
    margin: 0 0 10px;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px;
}

li p {
    margin: 0;
    font-size: 16px;
}