.wrapper
{
    max-width: 1440px;
    min-height: 100%;

    padding: 0 120px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header
{
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header .menu
{
    display: flex;
}

.header .title
{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.item
{
    height: 28px;
    padding: 2px;
    display: flex;
    border-radius: 25px;
    border: 2px solid #FFFFFF;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}

.item a
{
    margin: 0 4px;
    color: #FFFFFF;
}

.item a:hover
{
    color: #3AA346;
}

.item:hover
{
    border-color: #3AA346;
}

.item img
{
    width: 24px;
    height: 24px;
    border-radius: 25px;
}


#main .music_box .box
{
    height: 8rem;
    width: 80%;

    margin: 2rem;

    display: flex;
    align-items: center;
    background: #F9F9F9;

    box-shadow: 0 0.5rem 1rem #000000;
    border-radius: 1rem;

    overflow: hidden;
}

#main .music_box .box .image
{
    height: 100%;
    width: 25%;
}

#main .music_box .box .image img
{
    height: 100%;
    width: 100%;
}

#main .music_box .box .music
{
    width: 73%;
    display: flex;
}

#main .music_box .box .music audio
{
    width: 100%;
    outline: none;
    background-color: transparent !important;
    -webkit-tap-highlight-color: transparent;
}

#main .music_box .box .music audio::-webkit-media-controls-eclosure
{
    background: none;
}

#main .music_box .box .music h3
{
   margin: 0 20px;
   font: 700 20px/22px 'Courier New';
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .item
{
    height: 30px;
    width: 220px;
}

.info_box
{
    height: 140px;
    width: 960px;
    margin-left: 30px;
    padding: 10px;

    background-color: #FA8128;
    color: #FFFFFF;

    box-shadow: 0 0.5rem 1rem #000000;
    border-radius: 1rem;
}

.info_box h1
{
    font: 700 27px/120% 'Courier New', Courier, monospace;
}

.info_box p
{
    font: 400 22px/120% 'Courier New', Courier, monospace;
}

.icon_image_music
{
    width: 24px;
    height: 24px;
    margin: 10px;
    display: flex;
    justify-items: flex-end;
    cursor: pointer;
    gap: 5px;
}

.none
{
    opacity: 30%;
}

.none_popy
{
    opacity: 0%;
}

.none:hover
{
    opacity: 100%;
}