<!-- edit_seller.html -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Seller</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
<a href="{{ url_for('index') }}">На главную страницу</a>
<h1>Редактировать продавца</h1>

<div id="seller-data" data-seller-id="{{ editing_seller.id }}"></div>

<label for="first_name">Имя:</label>
<input type="text" id="first_name" value="{{ editing_seller.first_name }}" required>

<label for="last_name">Фамилия:</label>
<input type="text" id="last_name" value="{{ editing_seller.last_name }}" required>

<button onclick="saveChanges()">Сохранить изменения</button>

<script>
    function saveChanges() {
        var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        var sellerId = document.getElementById('seller-data').getAttribute('data-seller-id');
        var firstName = document.getElementById('first_name').value;
        var lastName = document.getElementById('last_name').value;

        var formData = new FormData();
        formData.append('sellerId', sellerId);
        formData.append('first_name', firstName);
        formData.append('last_name', lastName);
        formData.append('csrf_token', csrfToken);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/manage_sellers/edit/' + sellerId, true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                alert('Changes saved successfully!');
            } else {
                alert('Error saving changes. Please try again.');
            }
        };
        xhr.send(formData);
    }
</script>
</body>
</html>
