<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christmas Tree Shop</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Магазин елочных игрушек</h1>

    <h2>Информация</h2>

    <div class="info-container">
        <p>Общее количество продавцов: {{ total_sellers }}</p>
        <p>Общее количество сделок: {{ total_transactions }}</p>
        <p>Общее количество наименований продуктов: {{ total_products }}</p>
        <p>Общее количество единиц продуктов: {{ total_units }}</p>
    </div>

    <h2>Управление</h2>

    <div class="button-container">
        <ul>
            <li><a href="{{ url_for('manage_sellers') }}">Управление продавцами</a></li>
            <li><a href="{{ url_for('warehouse') }}">Склад(управление товарами)</a></li>
            <li><a href="{{ url_for('transaction') }}">Проведение сделок (покупка/продажа)</a></li>
        </ul>
    </div>
</div>
<footer>
    &copy; 2023 Магазин
</footer>
</body>
</html>
