<!DOCTYPE html>
<html lang="EN" xml:lang="en"></html>
<head>
    <title>Filtered Image with Noise</title>
</head>
<body>
    <h1>Filtered Image with Noise</h1>

    <h2>Original Image</h2>
    <img src="data:image/png;base64,{{ original_image }}" alt="Original Image"><br><br>

    <h2>Noisy Image</h2>
    <img src="data:image/png;base64,{{ noisy_image }}" alt="Noisy Image"><br><br>

    <h2>Filtered Noisy Image</h2>
    <img src="data:image/png;base64,{{ filtered_image }}" alt="Filtered Noisy Image">
</body>
</html>
