* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.title {
    text-align: center;
    background: linear-gradient(rgba(37, 32, 69) 0%, rgba(35, 35, 35) 15%);
    color: #335981;
    font-family: 'Arial Black', cursive;
    padding: 0.5rem;
    font-size: 10rem;
    word-spacing: 2rem;
    letter-spacing: 0.3rem;
}

#command {
    font-family: Arial, sans-serif; /* Fix font-family */
    font-weight: 800;
    font-size: 3.5rem;
    word-spacing: 1rem;
    animation: blinker 2s step-start infinite;
}

@keyframes blinker {
    25% {
        opacity: 0;
    }
}

.main {
    margin: auto;
    text-align: center;
}

.row1,
.row2 {
    background: url('./static/table.jpg') no-repeat center center/cover;
    width: auto;
    color: whitesmoke;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: solid black 0.1rem;
    height: 50rem;
}

.row1 div {
    padding: 1rem;
    text-align: center;
    flex: 1;
}

.row1 h2 {
    font-family: 'Times New Roman', serif;
    font-size: 4rem;
}

#your-box {
    border-right: solid black 1px;
}

#your-box img,
#dealer-box img {
    height: 20rem;
    width: 13rem;
    padding: 1rem;
}

.row2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 55%;
}

.buttons button {
    font-size: 2.2rem;
    font-weight: 700;
    font-family: 'Malgun Gothic', sans-serif; /* Fix font-family */
    padding: 0.2rem 2rem;
    margin: 1.5rem;
}

.buttons button:hover {
    cursor: pointer;
    box-shadow: #f8f8f8 0 0 5px 2px;
}

.row3 h3 {
    font-family: 'Times New Roman', serif; /* Font name with spaces */
    font-size: 4rem;
}

.row3 {
    margin: auto;
}

table,
th,
td {
    border: solid 2px #3f4da8;
    font-size: 3rem;
    font-family: 'Times', bold, serif;
    font-weight: 400;
    padding: 0.5rem 3rem;
}

table {
    margin: auto auto 5rem;
}